
.brand-logo {
    font-family: 'Bungee Shade', cursive;
    margin-left: 50px;
}
.nav-wrapper {
    /*background-color:  #006BB6;*/ 
    background-color:  #000000;
}

/*body {
    background-image: url(../images/nbabackground.jpg);
}*/

.carousel .carousel-item {
      width: 175px;
    }

.versus {
    margin-right: auto;
    width: 100px;
}

.jumbotron {    
    background-image: url(./images/nbabackground.jpg);
    background-size: cover;
    padding-top: 15px;
}
